#slider-div {
    text-align: center;
}

#num-days {
    color: darkgreen;
    font-weight: 800;
}


/* Make entire page content thinner */
@media (min-width: 1200px) {
    .container{
        max-width: 800px;
    }
}